<div class="container boxes-top"  style="min-height: calc(100vh - 100px);">

    <div class="row">
        <div class="col-sm-12" #subhead>
            <h2 class="pb-3">Lazyloading bay</h2>
        </div>

        <div class="col-sm-12 col-md-5">
            
            
            <div class="boxes-tiles">
                    <a routerLink="/boxes/box1">Box1</a> 
                    <div class="p-3">Directives and such</div>
            </div>



        </div><div class="col-sm-12 col-md-6">
            <div class="boxes-tiles">
                    Tile
            </div>
        </div><div class="col-sm-12 col-md-5">
            <div class="boxes-tiles">
                    Tile
            </div>
        </div><div class="col-sm-12 col-md-6">
            <div class="boxes-tiles">
                    Tile
            </div>
        </div><div class="col-sm-12 col-md-5">
            <div class="boxes-tiles">
                    Tile
            </div>
        </div><div class="col-sm-12 col-md-6">
            <div class="boxes-tiles">
                    Tile
            </div>
        </div>


    </div>









</div>